/* GENERAL */
body {
    font-family: 'Raleway';
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: #0065FC
}

.wrapper {
    max-width: 1400px;
    margin: auto;
}