/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
}

h1, h2 {
    font-size: 22px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: #0065FC
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 0 50px;
    box-sizing: content-box;
}

/* UTILITIES */
.flexbox {
    display: flex;
}

.flexbox.align-center {
    align-items: center;
}

.flexbox.space-between {
    justify-content: space-between;
}

.flexbox.column {
    flex-direction: column;
}

/* NAVIGATION */

nav .header-links a {
    width: 162px;
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    border-top: 2px solid transparent;
}

nav .header-links a:first-child {
    border-color: #0065FC;
}

/* SEARCH FORM */
#search {
    margin: 20px 0 30px 0;
}

#search i {
    width: 50px;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    color: #000000;
    padding: 16px 0 15px 0;
    font-size: 18px;

}

#search input {
    border-radius: 0;
    padding: 14px 16px;
    border: 1px solid #F2F2F2;
    border-right: none;
    outline: 0;
    font-weight: 700;
    font-size: 18px;
}

#search button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: #FFFFFF;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px;
    font-weight: 700;
    font-size: 18px;
}

#search button:first-of-type {
    display: none;
}

/* FILTERS */
.filters {
    font-weight: 700;
    column-gap: 30px;
    align-items: center;
}

.filters>div>span {
    font-size: 18px;
}

.filters-list {
    column-gap: 30px;
}

.filter {
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 0 20px;
    font-size: 17px;
    height: 50px;
}

.filter>span {
    font-size: 17px;

}

.filter:hover {
    background-color: #DEEBFF;
}

.filter i {
    margin-right: 10px;
    font-size: 22px;
}

/* RESULT */
.result {
    margin: 30px 0 0 0;
}

.result i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 10px;
    padding: 7px 10px;
    margin-right: 10px;
}

/* STAYS */
#stays-section {
    column-gap: 40px;
    margin-top: 40px;
}

#stays-section .offers-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 10px 40px 40px;
    flex: 880px;
}

#stays-section h2 {
    margin: 0 0 20px 0;
}

#stays-section .offers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

#stays-section .offers .card, #stays-section .trending .card {
    flex: 0 0 calc(33.333333% - 30px);
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#stays-section img, #activities-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
}

#stays-section .offers img {
    height: 124px;
}

#stays-section .offers-container>a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin: 40px 0 0 5px;
}

.details {
    padding: 5px 15px 10px 15px;
}

.details h3 {
    margin: 0;
}

.details i {
    font-size: 12px;
}

.details span {
    font-size: 14px;
}

.details .rating {
    margin-top: 5px;
}

.details .rating.four i:last-child {
    color: #F2F2F2;
}

#stays-section .trending-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    flex: 420px;
}

#stays-section .trending-container>.flexbox:first-child i {
    margin-bottom: 20px;
}

#stays-section .trending {
    row-gap: 30px;
}

#stays-section .trending img {
    height: 144px;
    width: 137px;
    border-radius: 20px 0 0 20px;
}

#stays-section .trending .card {
    display: flex;
}

#stays-section .trending .card .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

/* ACTIVITIES  */
#activities-section {
    margin-top: 60px;
}

#activities-section .card {
    flex: 25%;
}

#activities-section>article>.flexbox {
    column-gap: 40px;
}

#activities-section img {
    height: 388px;
    border: none;
}

#activities-section .card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#activities-section .card .details {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    margin-top: -5px;
}

/* FOOTER */
footer {
    background-color: #F2F2F2;
    padding: 45px 50px;
    margin-top: 60px;
}

footer>div {
    flex: 33.33%;
    padding-left: 20px;
}

footer>div>span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

footer>div>a:not(:last-child) {
    margin-bottom: 12px;
}


/* TABLET */
@media screen and (max-width : 991px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 15px;
    }

    .filters-list {
        column-gap: 12px;
        row-gap: 12px;
        flex-wrap: wrap;
        width: 100%;
    }

    .filter {
        flex: 0 0 calc(50% - 6px);
    }

    #stays-section {
        flex-direction: column;
        row-gap: 50px;
    }

    #stays-section .offers-container, #stays-section .trending-container {
        flex: initial;
    }

    #stays-section .trending {
        flex-direction: row;
        column-gap: 20px;
    }

    #stays-section .trending img {
        width: 106px;
    }

    #stays-section .trending .card {
        flex: 33.33%;
    }

    #activities-section {
        margin-top: 70px;
    }

    #activities-section img {
        height: 211px;
    }
}

/* MOBILE */
@media screen and (max-width : 767px) {
    .wrapper {
        padding: 0;
    }

    main {
        padding: 0 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    nav .header-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav .header-links a {
        width: initial;
        text-align: center;
        flex: 50%;
        padding: 20px 0;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }

    #search button:first-of-type {
        display: block;
    }

    #search button:last-of-type {
        display: none;
    }

    #search button i {
        padding: 0;
        width: initial;
        color: #FFFFFF;
        background-color: transparent;
        border: none;
    }

    .filter>span {
        font-size: 11px;
    }

    #stays-section-section {
        flex-direction: column-reverse;
    }

    #stays-section .offers-container {
        background-color: #FFFFFF;
        border-radius: 0;
        padding: 0;
    }

    #stays-section .offers {
        flex-direction: column;
        row-gap: 12px;
    }

    #stays-section .offers-container>a {
        display: none;
    }

    #stays-section .trending-container {
        border-radius: 0;
        padding: 0;
        margin-left: -20px;
        margin-right: -20px;
        padding: 28px 20px 47px;
    }

    #stays-section .trending, #activities-section>article>.flexbox {
        flex-direction: column;
        row-gap: 24px;
    }

    #activities-section img {
        height: 134px;
    }

    footer {
        padding: 45px 0;
        flex-direction: column;
        row-gap: 40px;
    }
}