/* GENERAL */
body {
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: #0065FC
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 0 50px;
}

/* UTILITIES */
.flexbox {
    display: flex;
}

.flexbox.align-center {
    align-items: center;
}

.flexbox.space-between {
    justify-content: space-between;
}

.flexbox.column {
    flex-direction: column;
}

/* NAVIGATION */

nav .header-links a {
    width: 162px;
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    border-top: 2px solid transparent;
}

nav .header-links a:hover {
    border-color: #0065FC;
}
